<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<% if (user) { %>
    <ul>
        <li><a href="/app">Enter</a></li>
        <li><a href="/secretWord">Secret Word</a></li>
    </ul>
    <form method="POST" action="/sessions/logoff">
      <button type="submit">Log out</button>
    </form>
<% } else { %>
    <a href="/sessions/logon">Log in.</a>
    <a href="/sessions/register">Register.</a>
<% } %>
<%- include("partials/footer.ejs") %>
